/*#preview{
  display: none;
}*/

img {
  float: left;
  margin-left: 15px;
  margin-right: 25px;
  margin-top: 5px;
}

#coverImage {
  margin: 0;
  float: none;
}

audio {
  float: right;
  margin-bottom: 20px;
}

#byArtist, #byGenre, #bySong {
  margin-top: 40px;
  width: 250px;
}

#byArtist {
  background-color: #E91E63;
}

#byGenre{
  background-color: #00BCD4;
}

#bySong {
  background-color: #9C27B0;
}

#playlistSettings{
  height: 520px;
}

#search, #songInfoCard, #playlistSettings, #newPlaylistSection {
  display: none;
}


.generateDropdownButton{
  margin: 30px;
}

#getStartedButton{
  margin: 30px;
}

html{
  height: 100%;
}

body {
  height: 100%;
  color: #fff;
  background-color: #4CAF50;

}

h2 {
  font-size: 2rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

/* Custom page header */
header {
  /*width: 80%*/;
/*  margin: auto;
  height: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;*/
  /* Make the masthead heading the same height as the navigation */ }
  
nav {
  background-color: #388E3C;
  height: 40px;
}
  .logo {
    display: inline-block;
  }

  header h1 {
    color: white;
    font-weight: 100;
    display: inline-block;
    padding-bottom: 15px;
  }

  .intro {
    padding-top: 50px;
    margin: auto;
    text-align: center;
    height: 100%;
  }

  .intro h1 {
    color: #fff;
  }

  .intro p{
    line-height: 1.3em;
    color: #C8E6C9;
  }

  p {
    margin: 20px;
  }

  .loginbutton {
    margin: 40px auto 10px;
  }

  .intro span{
    font-size: 12px;
  }

  .intro span a{
    color: #FCAB40;
    font-weight: 700;
  }

  .card {
    color: #727272;
  }
  .card .card-title {
    color: #727272;
    font-size: 24px;
    font-weight: 300; }
    .card .card-title.activator {
      cursor: pointer; }

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #CDDC39;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  -ms-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer; }
  .btn:hover, .btn-large:hover {
    background-color: #B6B6B6;
    color: #fff; }

.section {
  color: #727272;
  padding: 1rem;}
  .section.no-pad {
    padding: 0; }
  .section.no-pad-bot {
    padding-bottom: 0; }
  .section.no-pad-top {
    padding-top: 0; }

.section h5 {
  font-size: 20px;
}


footer.page-footer {
  background-color: #388E3C;
  padding: 0px; 
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  }
  footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.08); 
  }



input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 3rem;
  color: #C8E6C9;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all .3s; }

  input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #CDDC39;
    box-shadow: 0 1px 0 0 #CDDC39; }
  input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #CDDC39; }

