<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FUDI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/reset.min.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Tinos:400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">

  </head>

  <body ng-app="nutritionApp" ng-controller="ListController">


<!-- start top image -->
  <div class="faqtopimage">

<!-- top nav -->
  <div class="navbar">
  <header>
        <div class="logo">
          <a href="index.html"><img src="img/logo.png"></a>
        </div>
      <nav>
        
        <ul class="menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li> 
          <li><a href="faq.html">Nutrition FAQs</a></li>  
        </ul>
      </nav>

    </div> <!-- end of top nav -->



  </header>

    <main>
      <div class="faqcontainer">

      <h1>What are you in the mood for?</h1>


          <section id="search">

            <form ng-submit="search()">
              <input id="query" ng-model="searchTerm" type="text"/>
            </form>

                <div class="getStarted">
                <a id="searchRecipesButton" ng-click="search($event)"  href="#openSearchModal">Search Recipes</a>
                </div>

          </section>

      </div>

    </main>

  </div> <!-- end of top image -->

     <section class="reciperesults">
       <ul>
        <li ng-repeat="result in results">
            <figure>
              <img src="{{result.image}}" alt="">
              <figcaption>
                <h2>{{result.title}}</h2>
              </figcaption>
            </figure>
        </li>
       </ul>
      </section>




  <footer>
    <div class="footer clearfix">
    <p id="copyright">&copy; 2015 Fudi All Rights Reserved. </p>

    </div>
  </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/hammerjs/hammer.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

